
<div class="chess-widgets">
  <div class="chess-widgets-row">
    <div class="sidebar-left">
      <label>
        <input type="checkbox" (click)="onChangeBlindmodeButton()">
        Blindmode
      </label>
      <ng-container *ngIf="isBlindMode">
        <input placeholder="Type your move here in SAN notation" type="text" (keyup.enter)="onMoveEnter($event)">
        <a class="link"
          href="https://en.wikipedia.org/wiki/Algebraic_notation_(chess)">SAN-Notation</a>
      </ng-container>
    </div>
    <div class="grid-container" style="width: 500px;" cdkDropListGroup>
      <ng-container *ngFor="let row of [0,1,2,3,4,5,6,7]">
        <div *ngFor="let column of [0,1,2,3,4,5,6,7]" class="grid-item"
          [ngStyle]="{'background-color': isBlackSquare(column, row) ? '#fef2f0' : '#bbb9b9'}" cdkDropList
          [cdkDropListData]="board[row][column]" (cdkDropListDropped)="dropList($event,row,column)">
          <div *ngIf="getSquareInfo(row,column) != null && !isBlindMode"
            [cdkDragDisabled]="getSquareInfo(row,column)?.color != chessboardService.getHumanColor()" cdkDrag cdkDragData="{{row}},{{column}}">
            <img style="display: block;" src="{{getPieceImage(row,column)}}" alt="Chess Piece">
            <div *cdkDragPlaceholder></div>
          </div>
        </div>
      </ng-container>
    </div>

    <div id="sidebar-right" style="max-height: 500px;">
      <div id="nameTop">Computer</div>
      <ul *ngIf="!isBlindMode" id="movesList" #movesListContainer>
        <div class="moves-grid">
          <ng-container  *ngFor="let move of moves;index as i ">
            <div *ngIf="i % 2 === 0">
                {{ (i / 2) + 1 }}. {{ move }} {{ getMoves[i + 1] ? getMoves[i + 1] : '' }}
              </div>
          </ng-container>
        </div>
      </ul>
      <div id="nameBottom">Player</div>
    </div>
  </div>
  <div class="chess-widgets-row">
    <button class="createButton" style="width: 500px;" (click)="createGame()">Create Game</button>
  </div>
</div>