.chessboard:hover {
  cursor: pointer;
}

.chess-widgets {
  display: flex;
  flex-direction: column;
}

.chess-widgets-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 5px;
}

.chess-widgets-row button{
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 3px solid black;
}

.grid-container :hover{
  cursor: pointer;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.158);
  text-align: center;
  aspect-ratio: 1;
}

.sidebar-left {
  background-color: #756e6e;
  padding: 20px 10px 20px 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.sidebar-left input{
  font-size: 15px;
}

.link:hover {
  border-bottom-color: rgba(238, 227, 223, 0.877); /* Change border color on hover */
}

.link{
  color: rgba(238, 227, 223, 0.877); /* Text color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
  border-bottom: 2px solid transparent; /* Add bottom border */
  transition: border-color 0.2s ease; /* Add transition effect */
  margin-top: 10px;
  font-size: 15px;
}

.sidebar-left label {
  color: #fff;
  padding: 10px;
  display: block;
}
.sidebar-left label input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

#sidebar-right {
  min-width: 200px;
  display: flex;
  background-color: #756e6e;
  color: #fff;
  overflow-y: auto;
  flex-direction: column;
  border: 3px solid black;
}

.moves-grid{
  
}

#nameTop {
  position: sticky;
  padding-top: 10px;
  height: 10%;
  text-align: center;
}

#nameBottom {
  position: sticky;
  height: 10%;
  text-align: center;
  padding-bottom: 10px;
}

#movesList {
  list-style: none;
  padding: 5px;
  margin: 5px;
  overflow-y: auto;
  height: 80%;
}

#movesList li {
  margin-bottom: 10px;
}

.createButton{
  background-color: #756e6e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.createButton:hover {
  background-color: #45a049; /* Darker green on hover */
}